@font-face {
  font-family: "Joystick";
  src: url("/assets/joystix-monospace.otf");
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Joystick";
  background-color: black;
}
canvas {
  display: block;
  margin: auto;
  border-radius: 9999px;
}